.git
.github
.gitignore

node_modules
npm-debug.log*

bin/

data/
sqlite/
config/

*.db
*.db-shm
*.db-wal

.env
.env.*
site.env

admin-password
vault-password

dist/
coverage/

Dockerfile
docker-compose.yml
